.form {
    display: flex;
    padding-top: 6px;
    justify-content: center;
  }

  .mat-dialog-content {
    padding: 0;
    margin: 0;
  }

  mat-form-field {
    width: 90%;
  }

  .mat-mdc-dialog-actions {
    justify-content: center;
}



